<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
</head>

<body>
    <h1>Profile</h1>

    <table cellspacing="2" cellpadding="10">

        <tr>
            <th>Name</th>
            <td>{{user.name}}</td>
        </tr>

        <tr>
            <th>Username</th>
            <td>{{user.username}}</td>
        </tr>

        <tr>
            <th>Email</th>
            <td>{{user.email}}</td>
        </tr>



    </table>
    <a href="/logout">logout</a>

    <form action="/restaurant/additem" method="POST">
        <input placeholder="name" name="username">
        <br>
        <input placeholder="price" name="price" type="number">
        <br>
        <input type="text" name="owner" value={{user.name}} readonly>
        <br>
        <select name="type" type="type">
            <option>veg</option>
            <option>nonveg</option>

        </select>
        <br>

        <button type="submit">Add</button>
    </form>

    <h1>Menu</h1>
    <a href="menu/{{user.name}}">see menu</a>
</body>

</html>